
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<script>$("#calendarID").addClass("active")</script>

<h1>Calendar</h1>
<img src="http://www.truepathtechnologies.com/imgs/gcal-mon/gcal-001.png" alt="Calendar">

