
@{
    ViewBag.Title = "CareBook";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<script>$("#otherID").addClass("active")</script>

<h1>Care Book</h1>
<img src="~/Content/images/home-care-book.jpg" />
<img src="~/Content/images/home-care-book-2.jpg" />
