
@{
    ViewBag.Title = "CareBook";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<script>$("#otherID").addClass("active")</script>

<h1>Care Book</h1>

<img src="http://www.truepathtechnologies.com/imgs/gcal-mon/gcal-001.png" alt="Calendar" class="img-responsive">

