
@{
    ViewBag.Title = "CareBook";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<script>$("#otherID").addClass("active")</script>

<h1>Care Book</h1>
<img src="http://www.truepathtechnologies.com/images/home-care-book.jpg" alt="CareBook" class="img-responsive">
<img src="http://www.truepathtechnologies.com/images/home-care-book-2.jpg" alt="CareBook" class="img-responsive">

