
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}

<script>$("#indexID").addClass("active")</script>

    <div class="container">
        <h1>Quick Week Overview</h1>
    </div>
    <div class="container">
        <h2>Appointments Today</h2>

        <table class="todo">
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%"></th>
                <th style="width:65%"></th>
            </tr>
            <tr>
                <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                <td><strong>10:00 am</strong></td>
                <td>Dr. Potoka - Children's Hospital</td>
            </tr>
            <tr>
                <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                <td><strong>10:00 am</strong></td>
                <td>Dr. Kingsley Gittes - Children's Hospital</td>
            </tr>
            <tr>
                <td><i class="fa fa-star-o" aria-hidden="true"></i></td>
                <td><strong>3:00 pm</strong></td>
                <td>Physical Therapy - Home</td>
            </tr>
        </table>
        <br /> <br />
    </div>


    <div class="container">
        <h2>To-Do This Week</h2>
        <table class="todo">
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%"></th>
                <th style="width:65%"></th>
            </tr>
            <tr>
                <td><i class="fa fa-circle-thin" aria-hidden="true"></i></td>
                <td><strong>Refill</strong></td>
                <td>Enoxaparin <br /> Wallgreen's - 412-234-5678</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle-thin" aria-hidden="true"></i></td>
                <td><strong>Refill</strong></td>
                <td>Bumetanide <br /> Wallgreen's - 412-234-5678</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle-thin" aria-hidden="true"></i></td>
                <td><strong>Call</strong></td>
                <td>Schedule Appt. <br />Dr. Jefferson - 412-123-7828</td>
            </tr>
            <tr>
                <td><i class="fa fa-circle-thin" aria-hidden="true"></i></td>
                <td><strong>Appt</strong></td>
                <td>1:00pm 4/8/17<br />Shadyside Hospital</td>
            </tr>
        </table>
        <br /> <br />
    </div>

    <div class="container">
        <h2>Notes</h2>
        <table class="todo">
            <tr>
                <th style="width:100%"></th>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit  dolor in reprehenderit in voluptate.</td>
            </tr>
        </table>

    </div>

