
@{
    ViewBag.Title = "Medications";
    Layout = "~/Views/Shared/_Navigation.cshtml";
}
<div class="modal fade" id="med_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Medication Information</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">Medication Brand Name</div>
                    <div class="col-md-7" id="name_brand"></div>
                    <div class="col-md-5">Medication Generic Name</div>
                    <div class="col-md-7" id="generic_name"></div>
                    <div class="col-md-5">Dosage</div>
                    <div class="col-md-7" id="dosage"></div>
                    <div class="col-md-5">Concentration</div>
                    <div class="col-md-7" id="concentration"></div>
                    <div class="col-md-5">Frequency</div>
                    <div class="col-md-7" id="frequency"></div>
                    <div class="col-md-5">Route</div>
                    <div class="col-md-7" id="route"></div>
                    <div class="col-md-5">Reason</div>
                    <div class="col-md-7" id="reason"></div>
                    <div class="col-md-5">Prescribed By</div>
                    <div class="col-md-7" id="prescribed_by"></div>
                    <div class="col-md-5">Pharmacy</div>
                    <div class="col-md-7" id="pharmacy"></div>
                    <div class="col-md-5">Start Date</div>
                    <div class="col-md-7" id="start_date"></div>
                    <div class="col-md-5">End Date</div>
                    <div class="col-md-7" id="end_date"></div>
                    <div class="col-md-5">Interactions</div>
                    <div class="col-md-7" id="interactions"></div>
                    <div class="col-md-5">Experienced Side Effects</div>
                    <div class="col-md-7" id="experienced_side_effects"></div>
                    <div class="col-md-5">Reason Stopped</div>
                    <div class="col-md-7" id="reason_stopped"></div>
                </div>
             </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<h1>Medications</h1>
<div id="medication_display"></div>

<script id="entry-template" type="text/x-handlebars-template">
    <table class="table table-striped">
        <tr>
            <th>Name Brand</th>
            <th>Dosage</th>
            <th>Concentration</th>
            <th>Frequency</th>
            <th>Route</th>
            <th>See More Info</th>
        </tr>
    {{#each .}}
    <tr class="med_row">
        <td>{{name_brand}}</td>
        <td>{{dosage}}</td>
        <td>{{concentration}}</td>
        <td>{{frequency}}</td>
        <td>{{route}}</td>
        <td><i class="fa fa-plus-circle fa-lg" aria-hidden="true" data-toggle="modal" data-target="#med_modal" data-id={{id}}></i></td>
    </tr>
    {{/each}}
    </table>
</script>
<script>

    var medications = [
        {   "id":"0",
            "current": "false",
            "name_brand": "Benadryl",
            "generic_name": "Diphenhydramine",
            "dosage": "25mg, 2 tsp",
            "concentration": "12.5 mg/5ml",
            "frequency": "every 6 hours as needed",
            "route": "by mouth",
            "reason": "pet allergies",
            "prescribed_by": "Dr. Primary",
            "pharmacy": "Rite Aid",
            "start_date": "3/1/2017",
            "end_date": "4/1/2017",
            "interactions": "could lower seizure threshold",
            "experienced_side_effects": "caused agitation",
            "reason_stopped": "caused agitation",
        },
        {
            "id":"1",
            "current": "true",
            "name_brand": "Gammagard",
            "generic_name": "Immunoglobulin",
            "dosage": "15g",
            "concentration": "100 mg/ml",
            "frequency": "every 4 weeks",
            "route": "i.v.",
            "reason": "replacement IgG",
            "prescribed_by": "Dr. Immunologist",
            "pharmacy": "Walgreen's Infusion Services",
            "start_date": "1/1/2016",
            "end_date": "N/A",
            "interactions": "could lower seizure threshold",
            "experienced_side_effects": "itching, swelling, redness at site",
            "reason_stopped": "",
        }];

    $().ready(function () {
        var source = $("#entry-template").html();
        var template = Handlebars.compile(source);
        var html = template(medications);
        $("#medication_display").html(html);
        $('i').click(function (e) {
            idd = $(e.target).data("id");
            //console.log(medications[0].name_brand);
            if (idd in medications) {
                $('#name_brand').html(medications[idd].name_brand);
                $('#generic_name').html(medications[idd].generic_name);
                $('#dosage').html(medications[idd].dosage);
                $('#concentration').html(medications[idd].concentration);
                $('#frequency').html(medications[idd].frequency);
                $('#route').html(medications[idd].route);
                $('#reason').html(medications[idd].reason);
                $('#prescribed_by').html(medications[idd].prescribed_by);
                $('#pharmacy').html(medications[idd].pharmacy);
                $('#start_date').html(medications[idd].start_date);
                $('#end_date').html(medications[idd].end_date);
                $('#interactions').html(medications[idd].interactions);
                $('#experienced_side_effects').html(medications[idd].experienced_side_effects);
                $('#reason_stopped').html(medications[idd].reason_stopped);
            }
        })
    });


</script>