* {
    margin: 0;
}


h1 {
  text-align: left;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #0078ab;
  background: none;
  margin-top: 0;
  padding-top: 20px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #0078ab;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #0078ab;
    margin-top: 0;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.main{
    padding-left: 330px;
    margin-bottom:50px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:300px;
    height: 100%;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    background-color: #f89829;
    border-right: solid #f89829 thin;
}

.nav li:first-child{
    background: white;
}

.nav li:first-child img{
    width:90%;
    padding-bottom: 10px;
}

.nav li a {
    display: block;
    border-bottom: 1px solid #ffffff;
    color: #fff;
    padding: 18px 16px;
    text-decoration: none;

}

.nav li a i{
  float:right;
}

.nav li a.active {
    background-color: #0078ab;
    color: #fff;
}
.nav li a:hover {
    background-color: #0078ab;
    color: white;
}

.padtop {padding-top: 20px;}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200;
}

.input {
  border-style: none;
  border-bottom: solid;
  border-color: #f89829
  background: #e5e2e0;
}
.ppcc_container {
  border-style: black solid thin;
  /*margin-left: 50px;*/
  width: 50%;
}

/* Set a style for all buttons */
.button {
   background-color: #f89829;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   font-family: 'Open Sans', sans-serif;
}

/* Add a hover effect for buttons */
.button:hover {
   opacity: 0.8;
}

/* Accordion Styles */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #f89829;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


/*Josh Styles*/
.profileInput {
  /*padding-top: 25px;*/
  /*padding-left: 30px;*/
  width: 80%;
  height:75%;
  font-family: 'Open Sans', sans-serif;
}

.profileSave {
  display: inline;
  float: right;
}

.profileCancel {
  display: inline;
  float: right;
  margin-right: 1em;
  background-color: #0078AB;
}

.left {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
  float: left;
  width: 47%;
}

.left input {
	border-style: none;
	border-bottom: solid;
	border-color: #f89829;
	background-color: #e5e2e0;
}

.right {
  display: inline-block;
  top: 228px;
  float: left;
  margin-left: 1em;
  width: 47%;
}

.right input {
	border-style: none;
	border-bottom: solid;
	border-color: #f89829;
	background-color: #e5e2e0;
}

.sample {
  padding-left: 2em;
  background-color: #e5e2e0;
}

/*CSS FOR ADD PROFILE BUTTONS*/
.addProfileButton {
  width:100%;
}



@media (max-width: 1024px) {

    .nav{
        width: 250px;
    }

    .main{
    padding-left: 270px;
    }

    .ppcc_container{
       width: 80%;
    }
}