* {
    margin: 0;
}


h1 {
  text-align: left;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #f89829;
  background: none;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  
}


.active {
background-color: #0078ab !important;  
font-weight: bolder;   
}

.active a {
    color: #FFF !important;
}


.nav_color_alternator {
    background-color:#f9ad50;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #0078ab;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #0078ab;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

.main{
    padding-left: 330px;
    margin-bottom:50px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:300px;
    height: 100%;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    background-color: #f89824;
    border-right: solid #f89829 thin;
}

.nav li:first-child{
    background: white;
}

.nav li:first-child img{
    width:90%;
    padding-bottom: 10px;
}

.nav li a {
    display: block;
    border-bottom: 1px solid #ffffff;
    color: #333;
    padding: 18px 16px;
    text-decoration: none;

}

.nav li a i{
  float: right;
  color: #FFF;
}



.nav li a.active {
    background-color: transparent;
}

.nav li a:hover {
    background-color: transparent;
}

.padtop {
    padding-top: 20px;

}

/*Home Page Styles*/
.todo {
    border-collapse: collapse;
    width: 100%;
}

.todo th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

.todo th {
    padding-top: 0;
}

.fa-star-o {
  color: #f89829;
}

.fa-star {
  color: #f89829;
}

.fa-circle-thin {
  color: #0078ab;
}

.fa-check-circle-o {
  color: #777777;
}

.fa-check-circle {
  color: #888;
}

.fa-pencil {
  color: #888;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
}

.input {
  border-style: none;
  border-bottom: solid;
  border-color: #f89829
  background: #e5e2e0;
}

.ppcc_container {
  border-style: black solid thin;
  /*margin-left: 50px;*/
  width: 50%;
}

/* Set a style for all buttons */
.button {
   background-color: #f89829;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   font-family: 'Open Sans', sans-serif;
   border-radius: 4px;
}

/* Add a hover effect for buttons */
.button:hover {
   opacity: 0.8;
}

/* Accordion Styles */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #ffffff;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


.panel-default .panel-heading {
    background-color: #0078ab;
}

.panel-title {
    color: #ffffff;
}

.panel-title a {
    text-decoration: none;
}



/*Josh Styles*/
.profileInput {
  /*padding-top: 25px;*/
  /*padding-left: 30px;*/
  width: 80%;
  height:75%;
  font-family: 'Open Sans', sans-serif;
}

.profileSave {
  display: inline;
  float: right;
}

.profileCancel {
  display: inline;
  float: right;
  margin-right: 1em;
  background-color: #0078AB;
}

.left {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
  float: left;
  width: 47%;
  font-weight: bold;
  font-size: 11px;
}
}

.left input {
	border-style: none;
	border-bottom: solid;
	border-color: #f89829;
	background-color: #e5e2e0;
}

.right {
  display: inline-block;
  top: 228px;
  float: left;
  margin-left: 1em;
  width: 47%;
  font-weight: bold;
  font-size: 11px;
}

.right input {
	border-style: none;
	border-bottom: solid;
	border-color: #f89829;
	background-color: #e5e2e0;
}



.sample  {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}


/*CSS FOR ADD PROFILE BUTTONS*/
.addProfileButton {
  width:100%;
}



@media (max-width: 1024px) {

    .nav{
        width: 250px;
    }

    .main{
    padding-left: 270px;
    }

    .ppcc_container{
       width: 80%;
    }
}