
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title> PPCC--Interactive Care Book! </title>


    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Content/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Content/images/favicons/manifest.json">
    <link rel="mask-icon" href="~/Content/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="~/Content/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="~/Content/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/Style.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>

</head>
<body>
    

    <ul class="nav">
        <li><img src="~/Content/images/PPCC-Logo-Header.png" alt="Pediatric Palliative Care Coalition" class="padtop" /></a></li>
        <li id="indexID"><a href="~/Demo/Index">Home<i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li id ="homecareID" class="nav_color_alternator"><a href="~/Demo/HomeCarePlan">Home Event Log <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li id ="calendarID"><a href="~/Demo/Calendar">Calendar <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li id ="medicationID" class="nav_color_alternator"><a href="~/Demo/Medications">Medications <i class="fa fa-chevron-right" aria-hidden="true"></i></a> </li>
        <li id ="activitylogID"><a href="~/Demo/ActivityLog">Medical Visit Notes <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li id ="profileID" class="nav_color_alternator"><a href="~/Demo/UserProfile">Profile <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li id ="otherID"><a href="~/Demo/CareBook">Additional Resources <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        <li id ="searchID" class="nav_color_alternator"><a data-toggle="modal" data-target="#myModal">Add Medication <i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
        <li><img style="width: 100%; overflow: hidden;"src="~/Content/images/boy.jpg" alt="Pediatric Palliative Care Coalition"/></li>
      </ul>


    <div class="main">
        @RenderBody()
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Medication</h4>
                </div>
                <div class="modal-body">
                    <h2>Medication</h2>
                    <form>
                        <input class="input" type="text" name="name_brand:" placeholder="Name Brand">
                        <input class="input" type="text" name="generic_name:" placeholder="Generic Name">
                        <input class="input" type="text" name="dosage" placeholder="Dosage">
                        <input class="input" type="text" name="concentration" placeholder="Concentration">
                        <input class="input" type="text" name="frequency" placeholder="Frequency">
                        <input class="input" type="text" name="route" placeholder="Route">
                        <input class="input" type="text" name="reason" placeholder="Reason">
                        <input class="input" type="text" name="prescribed_by" placeholder="Prescribing Doctor">
                        <input class="input" type="text" name="pharmacy" placeholder="Pharmacy">
                        <input class="input" type="text" name="start_date" placeholder=" Start Date ">
                        <input class="input" type="text" name="end_date" placeholder=" End Date ">
                        <input class="input" type="text" name="interactions" placeholder="Interactions to other medications">
                        <input class="input" type="text" name="experienced_side_effects" placeholder="Side effects experienced">
                        <input class="input" type="text" name="reason_stopped" placeholder="Reason stopped medication">
                        <input class="input" type="text" height="400px" name="Notes" placeholder="Notes">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>